/* src/css/About.css */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
.banner2 {
    color:#3f3232;
    text-align: center;
    position: relative;
    display: grid;
    width: fit-content;
    height: fit-content;
    padding: 2% 0  0 535px;
    font-size: 120%;
  }
.main2
{
  width: 100vw;
  height: 90vh;
  display: block;
  position: relative;
}
text{
    text-align: justify;
}